body {
    font-family: 'Gentium Book Plus', serif;
    font-family: 'Source Sans Pro', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.link-button {
    text-decoration: none;
    background-color: orange;
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 10px;
}

.heading-contents {
    padding: 180px;
    text-align: center;
    color:orange;
    /* color: white; */
}

.header-part {
    background-image: url("images/donation9.jpg");
    background-repeat: no-repeat;
    height: 90vh;
    background-size: cover;
}

section {
    display: flex;
    margin-bottom: 30px;
}

.heading-contents h1 {
    font-size: 50px;
}

.heading-contents p {
    font-size: 20px;
}

.Donate-Us {
    text-align: center;
    padding: 50px;
}

.Donate-Us h1 {
    font-size: 50px;
}

.Donate-Us p {
    font-size: 20px;
    margin-top: 30px;
}

.flexible-container {
    margin-left: 10%;
    display: flex;
    font-weight: 10px;
    padding-top: 15px;
    font-size: 50px;

}

.flexible-container>div {
    background-color: #C0C0C0;
    margin: 10px;
    padding: 48px;
    font-size: 40px;
    text-align: center;
}

#extra {
    border-color: red;
    border-style: solid;
}

.another-amount {
    color: grey;
    padding-top: 30px;
    padding-bottom: 10px;

}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 2.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.create-cart {
    margin-top: 0px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    flex-wrap: wrap;
}

.donate-plan {
    text-align: center;
    padding: 30px;
}

.donate-plan h1 {
    font-size: 50px;
}

.donate-plan p {
    font-size: 20px;
    margin-top: 30px;
}

.cart-description {
    width: 270px;
    text-align: center;
    border: 1px solid gray;
    padding: 25px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 50px;

}

.cart1 {
    background-color: cadetblue;
}

.cart2 {
    background-color: chocolate;
}

.cart3 {
    background-color: coral;
}

.package-descript-text {
    text-align: justify
}

.icon img {
    width: 60px;

}
.li-style >li{
    font-size: large;
    color:orange;
    margin-left: 45px;
}
h1 {
    font-size: 50px;
}

section {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 65%;
    border: 3px solid black;
    box-shadow: 5px 5px 10px gray;
}

.update-info {
    text-align: center;
}

.submit-box {
    width: 50%;
    margin-left: 250px;
    padding: 86px;
    background-color: wheat;
}

.update-info h1 {
    font-size: 50px;
}

.update-info p {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.from {
    padding: 52px, 0px;
    padding-left: 445px;
    padding-top: 27px;
    padding-bottom: 21px;
    margin-top: 85px;
    margin-bottom: 45px;
}

.email-seting {
    padding: 18px;
    font-size: 28px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: orangered;
    border: none;
    border-radius: 6px;
    color: white;
    margin-left: -5px;
}

footer {
    text-align: center;
    margin-top: 50px;
    background-color: black;
    color: orange;
    padding: 55px;

}