body {
    font-family: 'Gentium Book Plus', serif;
    font-family: 'Source Sans Pro', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.link-button {
    text-decoration: none;
    background-color: orange;
    color: white;
    font-size: 50;
    padding: 10px 40px;
    border-radius: 10px;
}

.heading-contents {
    padding: 180px;
    text-align: center;
    color: white;
}

.header-part {
    background-image: url("images/donation9.jpg");
    background-repeat: no-repeat;
    height: 90vh;
    background-size: cover;
}

section {
    display: flex;
    margin-bottom: 30px;
}

.heading-contents h1 {
    font-size: 50px;
}

.heading-contents p {
    font-size: 20px;
}

.Donate-Us {
    text-align: center;
    padding: 50px;
}

.Donate-Us h1 {
    font-size: 50px;
}

.Donate-Us p {
    font-size: 20px;
    margin-top: 30px;
}

.flexible-container {
    margin-left: 10%;
    display: flex;
    font-weight: 10px;
    padding-top: 15px;
    font-size: 50px;

}

.flexible-container>div {
    background-color: #C0C0C0;
    margin: 10px;
    padding: 48px;
    font-size: 40px;
    text-align: center;
}

#extra {
    border-color: red;
    border-style: solid;
}

.another-amount {
    color: grey;
    padding-top: 30px;
    padding-bottom: 10px;

}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 2.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.create-cart {
    margin-top: 0px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    flex-wrap: wrap;
}

.donate-plan {
    text-align: center;
    padding: 30px;
}

.donate-plan h1 {
    font-size: 50px;
}

.donate-plan p {
    font-size: 20px;
    margin-top: 30px;
}

.cart-description {
    width: 270px;
    text-align: center;
    border: 1px solid gray;
    padding: 25px;
    border-radius: 10px;
    margin-top: 10px;
}

.cart1 {
    background-color: cadetblue;
}

.cart2 {
    background-color: chocolate;
}

.cart3 {
    background-color: coral;
}

.package-descript-text {
    text-align: justify
}

.icon img {
    width: 60px;

}